.scrollingContentTop {
    animation: scroll-left 20s linear infinite;
    width: max-content;
}

.scrollingContentBottom {
    transform: translateX(calc(-50%));
    animation: scroll-right 20s linear infinite;
    width: max-content;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-50%));
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(calc(-50%));
    }

    100% {
        transform: translateX(calc(0%));
    }
}