.getaQuoteBtn button {
    height: 100%;
    border-radius: 50%;
    line-height: 30.9px;
    @apply bg-black p-[20px]
}

.getaQuoteBtn>button>span {
    font-family: NunitoSans;
    font-weight: 900;
    @apply text-[20px] md:text-[30px]
}

.getaQuoteBtn {
    width: 108px;
    background: linear-gradient(4.86deg, #7B1ECC 6.77%, rgba(255, 255, 255, 0.5) 52.81%, #7B1ECC 92.3%);
    width: fit-content;
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.getaQuoteBtn button:hover {
    background: #7B1ECC;
    color: white;
}

.getaQuoteBtn:hover {
    background: #7B1ECC;
}

.socialMediaBtn {
    background: linear-gradient(4.86deg, #7B1ECC 6.77%, rgba(255, 255, 255, 0.5) 52.81%, #7B1ECC 92.3%);
}

.largeText {
    line-height: 70%;
}