.scrollingWrapper {
    display: flex;
    overflow-x: hidden;
    width: max-content;
}

.scrollingContent {
    padding-left: 50px;
    display: flex;
    gap: 50px;
    animation: scroll-left 8s linear infinite;
    width: max-content;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100%));
    }
}