.scrollingContentTop {
    animation: scroll-left 20s linear infinite;
    width: max-content;
}

.scrollingContentBottom {
    animation: scroll-right 15s linear infinite;
    width: max-content;
}

.scrollingContentTop:hover {
    animation-play-state: paused;
}

.scrollingContentBottom:hover {
    animation-play-state: paused;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-50%));
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(calc(-50%));
    }

    100% {
        transform: translateX(calc(0%));
    }
}