@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  /* z-index: 1; */
  scrollbar-width: none;
  scroll-behavior: smooth;
  @apply text-[#FFFFFFE5]
}

html,
body {
  width: 100%;
  height: 100%;
  color: white;
  @apply bg-black
}

@font-face {
  font-family: IBMPlexSans;
  src: url("/fonts/IBMPlexSans-Regular.ttf");
}

.IBMPlexSans {
  font-family: IBMPlexSans;
}

@font-face {
  font-family: ClashDisplay;
  src: url("/fonts/ClashDisplay-Variable.ttf");
}

.ClashDisplay {
  font-family: ClashDisplay;
}

@font-face {
  font-family: NunitoSans;
  src: url("/fonts/NunitoSans.ttf");
}

.NunitoSans {
  font-family: NunitoSans;
}

.textGradient {
  background: linear-gradient(90deg, #7B1ECC -1.99%, rgba(255, 255, 255, 0.5) 52.23%, #7B1ECC 98.73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 6px 32.6px rgba(0, 0, 0, 0.4);
}

.btn {
  border-radius: 15px;
  border: 1px solid black;
  transition: border-color 0.3s ease;
  background: linear-gradient(90deg, #3B0762 0%, #3C0763 14.06%, #3D0866 24.56%, #40096A 32.13%, #430A70 37.36%, #470B76 40.87%, #4C0D7E 43.26%, #510F87 45.14%, #561190 47.12%, #5C1399 49.81%, #6215A2 53.82%, #6717AC 59.75%, #6D19B5 68.21%, #721BBD 79.82%, #771CC5 95.17%, #7B1ECC 114.89%);
  font-weight: 900;
  @apply text-[16px] md:text-[20px] NunitoSans py-[10px] px-[30px] 2xl:px-[46px]
}

.btn:hover {
  border-color: white;
  background: transparent;
}

.sectionGap {
  margin-top: 40px;
  /* margin-bottom: 40px; */
  /* padding-bottom: 40px; */
  @apply pb-[40px] md:pb-0
}

.sectionPadding {
  @apply px-[40px] xl:px-[0px]
}

.heading {
  font-weight: 760;
  text-align: center;
  @apply text-[16px] md:text-[40px] xl:text-[50px] leading-[0px] md:leading-[68px]
}

.headingBottomText {
  margin: auto;
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  font-family: IBMPlexSans;
  font-weight: 400;
  line-height: 23.4px;
}

.glassmorphism {
  border: 1px solid #FFFFFF40;
  background-color: #FFFFFF1A;
}

.sectionDivider {
  background-color: #FFFFFF;
  opacity: 5%;
  @apply w-screen h-[1px]
}

.verticalDivider {
  background-color: #FFFFFF;
  opacity: 5%;
  @apply w-[1px]
}

.boxystyle {
  @apply max-w-[1169px] 2xl:max-w-[1280px] px-4
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 5s linear infinite;
}